@import "../../styles/mixins.scss";

* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

.often__wrapper {
  background-color: #fcf9f7;
  width: 100%;
}

.often__answer {
  overflow: hidden;
  padding: 0 20px 0px 0px;
  width: 100%;

  .often__answer-content {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.often__item-container {
  width: 100%;
}

.often {
  @include display();
  padding: 0px 0px 20px 0px;
  flex-direction: column;
  gap: 50px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;

  box-sizing: border-box;

  &__center {
    @include display();
    justify-content: space-between;
    padding: 20px 26px 20px 26px;
    background-color: #fcf9f7;
    width: 100%;
    box-sizing: border-box;
    gap: 70px;
  }

  &__left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    // O'ng tomondagi rasmga joy qoldirish uchun kenglikni belgilash
    width: 55%;
  }

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 16.5767px;
    line-height: 24px;
    color: #000000;
  }

  &__items {
    @include display();
    width: 100%;
    justify-content: space-between;
    align-items: center; // Ikonkani vertikal markazlash
    gap: 30px;
    padding: 20px 20px 20px 0px;
    border-bottom: 1px solid rgb(131, 129, 129);
    cursor: pointer;

    svg {
      flex-shrink: 0;
    }
  }

  &__items-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16.5767px;
    line-height: 24px;
    color: #000000;
  }
  &__cards {
    @include display();
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  &__right {
    position: relative;
    max-width: 40%;
    box-sizing: border-box;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__right-box {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
    position: static;
    margin-top: 15px;
  }

  &__right-box-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }

  &__right-button {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background-color: white;
    cursor: pointer;
  }

  &__form {
    width: auto;
  }
}

@media (max-width: 1100px) {
  .often {
    &__center {
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 20px;
    }

    &__left {
      margin-right: 0;
      width: 100%;
    }

    &__right {
      order: -1;
      @include display();
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100%;
      & img {
        width: 100%;
        max-width: 250px;
      }
    }

    &__right-box {
      position: static;
      width: 100%;
      align-items: center;
    }

    &__form {
      padding: 20px;
    }

    &__form-button {
      font-size: 15px;
      padding: 10px;
    }

    &__form-text {
      padding: 0px;
      width: 100px;
      background-color: white;
      right: 0px;
      top: 20px;
      font-size: 10px;
    }

    .often__items {
      padding: 15px 15px 15px 0px;
    }
    .often__answer {
      padding: 0 15px 0 0;
    }
    .often__answer-content {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .woman__images {
    position: relative;
    right: -25%;
    width: 100% !important;
  }


  .often__right-box{
    position: absolute;
    bottom: 20px;
  }
}
