@import "../../styles/mixins.scss";

.what-brings {
  @include display();
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 0px 0px;

  &__bottom {
    @include display();
    width: 100%;
    align-items: start;
    padding: 40px;
    gap: 30px;
    background-color: #fcf9f7;
  }

  &__left {
    @include display();
    position: relative;
    background-color: #ffe9e4;
    width: 50%;
    height: 366px;
    max-width: 366px;
    padding: 30px;
    border-radius: 50px;

    // & svg {
    //   // position: absolute;
    // }
  }

  &__title {
    text-align: center;
    padding: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 29.7917px;
    line-height: 36px;
    text-transform: uppercase;
    color: #484848;
  }

  &__text {
    max-width: 1000px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16.5767px;
    line-height: 20px;

    color: #000000;
  }

  &__right {
    @include display();
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: start;
    padding: 20px;
  }
}

@media (max-width: 1100px) {
  .what-brings {
    &__title {
      font-size: 20px;
      line-height: normal;
      text-align: center;
    }

    &__bottom {
      flex-wrap: wrap;
    }

    &__left {
      // width:100%;
      flex-grow: 1;
    }
  }
}

@media (max-width: 500px) {
  .what-brings {
    &__bottom {
      padding: 20px 3%;
    }
  }
}

/* Agar orderform.scss/header.scss global ishlatilmasa, bularni qo'shing */

.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 95%;
  max-height: 95vh;
  overflow-y: auto;

  .order-section {
    margin: 0;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  /* ... qolgan stillar ... */
}
